body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  header {
    padding: 20px 0;
  }
  
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-weight: 700;
    margin: 0;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
    }
    header nav :hover{
        color: red}
        
.breadcrumb{
  
    background-color: white;
    content: "/\00a0";
}
    .breadcrumb :before {
        padding: 10px;
        color: black;
        
    }

    .img-fluid{ max-width: 6%; height: auto;} 
  
  header p {
    padding: 0 20px;
    margin: 0;
  }
  
  
  
  .col-md-6 {
    margin: 0 0 30px;
  }
  
  .btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    text-shadow: none;
    background-color: #ffffff;
  }
  
  .btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
  }
  
  .btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
  }
  
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul li{
    list-style: none;
  }
  
  footer li img {
    width: 32px;
    height: 32px;
  }

  

 .gallery ul{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  
  
 }

 .gallery ul li{
  list-style: none;
  margin-bottom:15px;
     
 }

 .articleImage{
  margin-bottom:15px;
 }
 .gallery ul li img{
  cursor: pointer;
  
 
 }

 .modal-body {
  padding: 5px !important;
}

.modal-content {
  border-radius: 0;
}

.modal-dialog img {
  text-align: center;
  margin: 0 auto;
}


.controls {
  width: 50px;
  display: block;
  font-size: 11px;
  padding-top: 8px;
  font-weight: bold;
}


.next {
  float: right;
  text-align: right;
}

.modal-dialog {
  max-width: 900px;
  padding-top: 90px;
}

.carousel-inner img{
  display: block;
    margin: 0 auto;
min-height: 400px;
max-height: 400px; 
}
.small-article img{
height: 75px;
padding: 10px 10px 10px 10px;
float:left
}

.text-justify {
  padding: 10px 10px 10px 10px;
}
.small-article p{
  float:right
}
.pull-left{
  float: left !important;
}